<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        
        <head>
          <style>
          body {
            color: black;
          }
          </style>
            </head>
                <body></body>
    
                <h2>HAKKIMIZDA</h2>
        <h2>
          DEMİRTELÇİT  Tel Örme Çit Sistemleri önde gelen güvenlik çit sistemleri firmasıdır. Kendini Yeniliğe adamış müşterilerimizin ihtiyaçlarına karşı hassas ve değerlerin sunulmasına tasarımlar üzerinde odaklanmış olmakla beraber karmaşık iş konularına yenilikçi çözümler getirmektedir.
* En makul oranlarla yüksek kalitede çit sistemleri hizmeti verebilme
Yüksek standartlı, kaliteli hizmet vererek müşteri memnuniyetini en üst düzeye çıkarmak,
Müşterilerimizin zamanına ve haklarına saygı duymak,Çalışanlarımızın tatmini ve moral değerlerini arttırmak,İnsanlığa, çevreye ve evrensel değerlere olan sorumluluklarımızı yerine getirmek,Yeni hedefimiz yaşadıgınız mekanları daha güzel hale getirmek.
<h2>VİZYONUMUZ
Karşılamak temel hedefimizdir.
Mekanlarınızı sizlerin istedigi şıklıkta esnetik bir hale getirmek,
Müşterilerimizin koşulsuz memnuniyeti,
Çalışanlarımızın tatmin ve memnuniyeti,
Kaliteliyi ucuz sizlere sunmak,
Verdiğimiz tüm hizmetlerde Türkiye’de en iyisi olmaya devam ederek dünyada örnek şirket olmaktır.
Müşteri Memnuniyeti Anlayışımız
Mutlak Müşteri Memnuniyeti anlayışımız ışığında müşterilerimizin beğenerek aldıkları üründen kullanırken de memnun kalmaları bizim için çok önemlidir. Ürünlerimizde vaat ettiğimiz kalitenin ve özelliklerin garantörüyüzdür. Tüketici haklarını her şeyin üzerinde tutarız. Bizim için müşteriler daima haklıdır.
</h2>

        </h2>
        
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
