<header id="top" class="header">
  <div class="text-vertical-center">
  </div>
</div>
    <head>
      <style>
      body {
        color: white;
      }
      </style>
        </head>
            <body></body>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/logo.png">
              </a>
            </div>
  
        </div>


    <br>
    
  </div>
</header>
